/* ********** Custom Properties ********** */
:root {
  --color-primario: #000b1a;
  --color-secundario: #53bff9;
  --color-terciario: #c7cbd2;
  --color-azul-claro: #001938;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
/* ********** Reseteo ********** */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: var(--color-primario);
  margin: 0;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1400 - 300)));
}
/* ********** Utilities ********** */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*estilos generales*/
.pagina {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
section:nth-child(even) {
  background-color: var(--color-primario);
}
section:nth-child(odd) {
  background-color: var(--color-azul-claro);
}
/* ********** Componentes ********** */
/***cabecera***/
.cabezera {
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--color-primario);
  border-top: thin solid var(--color-secundario);
}
.cabezera-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64em;
  width: 95%;
}
.logo {
  width: 10%;
}
.luis {
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blanco);
  text-decoration: none;
  transition: color ease 0.3s;
}
.luis:hover {
  color: var(--color-secundario);
}
.menu {
  width: 60%;
  gap: 0.5rem;
  margin-top: 4px;
}
.menu-a {
  color: var(--blanco);
  text-decoration: none;
  transition: color ease 0.3s;
  font-family: "Outfit", sans-serif;
  font-size: medium;
}
.menu-a:hover {
  color: var(--color-secundario);
}
.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.contacto-img {
  margin-top: 3px;
  width: 1.5rem;
  height: 1.5rem;
}
.github {
  display: none;
}
@media screen and (min-width: 37.5em) {
  .cabezera {
    height: 5rem;
  }
  .menu {
    gap: 20px;
  }
  .contacto {
    justify-content: flex-end;
  }
  .contacto-img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .github {
    display: inline-block;
  }
}
@media screen and (min-width: 64em) {
  .cabezera {
    top: 0;
    border-top: none;
    background-color: var(--color-primario);
    border-bottom: thin solid var(--color-secundario);
  }
  .logo {
    width: 10%;
  }
  .menu {
    width: 30%;
    margin-left: -3rem;
  }
  .contacto {
    gap: 0.5rem;
  }
}
/*pagina 1*/
.pagina-1 {
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagina-1-principal {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  max-width: 64em;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
.pagina-1-informacion {
  gap: 1rem;
  width: 90%;
}
.titulo-principal {
  margin-top: -0.5rem;
  font-family: var(--fuente-principal);
  font-size: 2rem;
  color: var(--blanco);
  transition: transform 1s ease;
}
.punto {
  color: var(--color-secundario);
}
.span-blanco {
  color: var(--blanco);
}
.pagina-1 p {
  font-size: 1rem;
  font-family: var(--fuente-principal);
  color: var(--color-terciario);
  width: 100%;
}
.soluciones {
  color: var(--color-secundario);
}
.plazi {
  color: #00d26a;
}
.musica {
  color: #ffff00;
}
.pagina-1-imagen img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.pagina-1-botones {
  margin-top: 1rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 9rem;
  border-radius: 0.3rem;
  color: var(--blanco);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
.curriculum {
  margin-right: 0.5rem;
  border: 2px solid var(--color-secundario);
  color: var(--color-secundario);
  text-align: center;
}
.creando {
  border: 2px solid var(--color-secundario);
  background-color: var(--color-secundario);
}
@media screen and (min-width: 64em) {
  .pagina-1 {
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }
  .pagina-1-principal {
    max-width: 64rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .pagina-1-informacion {
    text-align: left;
    width: auto;
  }
  .titulo-principal {
    font-size: 1.9rem;
  }
  .pagina-1 p {
    width: 90%;
  }
  .pagina-1-imagen img {
    width: 14rem;
    height: 14rem;
  }
}

/**** proyectos ******/
.pagina-3 {
  margin-top: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.pagina3-proyectos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 1rem;
  margin: auto;
  max-width: 64rem;
  width: 85%;
  margin-bottom: 3.5rem;
  font-family: var(--fuente-principal);
}
.proyectos-titulo {
  color: var(--blanco);
  font-family: var(--fuente-principal);
  font-size: x-large;
  width: 85%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 64rem;
}
.proyectos-targeta {
  width: 100%;
  height: 25.5rem;
  background-color: var(--color-primario);
  border-radius: 0.3rem;
}
.proyectos-targeta img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  min-height: 60%;
  max-height: 60%;
  border-radius: 0.3rem 0.3rem 0 0;
  margin-bottom: -1rem;
}
.targeta-informacion {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  color: var(--blanco);
}
.targeta-informacion-titulo {
  font-size: large;
}
.targeta-p {
  font-size: medium;
  width: 100%;
  max-width: 100%;
  color: var(--color-terciario);
  margin-top: -12px;
  overflow: hidden;
  height: 4rem;
}
.targeta-informacion a {
  display: inline-block;
  padding: 0.4rem;
  text-align: center;
  text-decoration: none;
  width: 7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-top: -6px;
}
.codigo {
  margin-right: 0.5rem;
  border: 2px solid var(--color-secundario);
  color: var(--color-secundario);
  text-align: center;
}
.web {
  border: 2px solid var(--color-secundario);
  background-color: var(--color-secundario);
  color: var(--blanco);
}
@media screen and (min-width: 37.5em) {
  .pagina-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .pagina3-proyectos {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
  }
  .proyectos-targeta {
    height: 25.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .pagina3-proyectos {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .proyectos-titulo {
    width: 90%;
  }

  .proyectos-targeta img {
    height: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .pagina3-proyectos {
    width: 75%;
  }
  .proyectos-titulo {
    width: 75%;
  }
  .pagina-3 {
    scroll-margin: 5rem;
  }
}
/*diseños */
/*
  grid de 3*3 con un modal para cada targeta
*/
.pagina-4 {
  min-height: 100vh;
  scroll-margin: -18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titulo-diseños {
  max-width: 64rem;
  width: 85%;
  color: var(--blanco);
  font-family: var(--fuente-principal);
  font-size: x-large;
}
.pagina4-grid {
  max-width: 64rem;
  width: 85%;
  padding-top: 1rem;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: auto;
  gap: 1.5rem;
}
.grid-card {
  cursor: pointer;
  position: relative;
}
.grid-img {
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.card-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
  height: 1.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-top: 6px;
  margin-right: 6px;
  padding: 1rem;
  background-color: var(--blanco);
  box-shadow: 1px 2px 21px 5px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 2px 21px 5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 2px 21px 5px rgba(0, 0, 0, 0.21);
}
.card-info img {
  margin-top: 3px;
}
.card-info p {
  margin-left: -6px;
  color: #000;
  font-size: medium;
  font-family: var(--fuente-principal);
}
@media screen and (min-width: 37.5em) {
  .pagina-4 {
    align-items: center;
  }
  .pagina4-grid {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (min-width: 64em) {
  .pagina4-grid {
    padding: 0.5rem;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
  .titulo-diseños {
    width: 90%;
  }
}
@media screen and (min-width: 75em) {
  .pagina4-grid {
    width: 75%;
  }
  .pagina-4 {
    scroll-margin: 5rem;
  }

  .titulo-diseños {
    width: 75%;
  }
  .pagina4-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.sobre-mi {
  min-height: 100vh;
  max-height: auto;
  scroll-margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-mi p {
}
.sobremi {
  max-width: 64rem;
  width: 85%;
  font-size: large;
}
.sobre-mi h3 {
  color: var(--blanco);
  max-width: 64rem;
  margin: auto;
  margin-top: 0;
  color: var(--blanco);
  font-family: var(--fuente-principal);
  font-size: x-large;
}
.sobre {
  color: var(--color-terciario);
  font-family: var(--fuente-principal);
  width: 85%;
}
.educacion {
  color: var(--color-terciario);
  font-family: var(--fuente-principal);
  font-size: 1rem;
}
.educacion h4 {
  color: var(--blanco);
  width: auto;
  margin-bottom: 12px;
}
.educacion p {
  margin-top: 0;
  margin-bottom: 6px;
}
.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--blanco);
  font-family: var(--fuente-principal);
}
.lenguajes {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-terciario);
}
.lenguajes div {
  text-align: center;
  min-width: 4rem;
  max-width: auto;
  min-height: 5.5rem;
  max-height: auto;
}
.lenguajes div p {
  font-size: small;
}
.footer {
  color: var(--blanco);
  font-family: var(--fuente-principal);
  font-size: medium;
}

@media screen and (min-width: 64em) {
  .sobremi {
    width: 90%;
  }
}

@media screen and (min-width: 75em) {
  .sobre-mi {
    min-height: 90vh;
  }
  .sobremi {
    width: 75%;
  }
}
.sbetav {
  color: var(--color-secundario);
}

.jon {
  color: #ff822d;
}

/*clases a agregar con java Scripts*/

/*color del indice en el menu de navegacion*/
.activo {
  color: var(--color-secundario);
}
