/* ********** Custom Properties ********** */
:root {
  --color-primario: #000b1a;
  --color-secundario: #53bff9;
  --color-terciario: #c7cbd2;
  --color-azul-claro: #001938;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
/* ********** Reseteo ********** */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: var(--color-primario);
  margin: 0;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1400 - 300)));
}
/* ********** Utilities ********** */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*estilos generales*/
.pagina {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
section:nth-child(even) {
  background-color: var(--color-primario);
}
section:nth-child(odd) {
  background-color: var(--color-azul-claro);
}
/* ********** Componentes ********** */
/***cabecera***/
.cabezera {
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  backdrop-filter: blur(12px);
  border-top: thin solid var(--color-secundario);
}
.cabezera-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64em;
  width: 100%;
}
.logo {
  width: 10%;
}
.luis {
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 5px;
  color: var(--blanco);
  text-decoration: none;
  transition: color ease 0.3s;
}
.luis:hover {
  color: var(--color-secundario);
}
.menu {
  width: 30%;
  gap: 1px;
  margin-top: 4px;
}
.menu-a {
  color: var(--blanco);
  text-decoration: none;
  transition: color ease 0.3s;
  font-family: "Outfit", sans-serif;
  font-size: medium;
}
.menu-a:hover {
  color: var(--color-secundario);
}
.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.contacto-img {
  margin-top: 3px;
  width: 1.5rem;
  height: 1.5rem;
}
.github {
  display: none;
}
@media screen and (min-width: 37.5em) {
  .cabezera {
    height: 5rem;
  }
  .menu {
    gap: 20px;
  }
  .contacto {
    justify-content: flex-end;
  }
  .contacto-img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .github {
    display: inline-block;
  }
}
@media screen and (min-width: 64em) {
  .cabezera {
    top: 0;
    border-top: none;
    border-bottom: thin solid var(--color-secundario);
  }
  .menu {
    margin-left: -3rem;
  }
  .contacto {
    gap: 0.5rem;
  }
}
/*pagina 1*/
.pagina-1 {
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagina-1-principal {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  max-width: 64em;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
.pagina-1-informacion {
  gap: 1rem;
  width: 90%;
}
.titulo-principal {
  margin-top: -0.5rem;
  font-family: var(--fuente-principal);
  font-size: 2rem;
  color: var(--blanco);
  transition: transform 1s ease;
}
.punto {
  color: var(--color-secundario);
}
.span-blanco {
  color: var(--blanco);
}
.pagina-1 p {
  font-size: 1rem;

  font-family: var(--fuente-principal);
  color: var(--color-terciario);
  width: 100%;
}
.soluciones {
  color: rgb(255, 255, 0);
}
.plazi {
  color: rgb(0, 255, 0);
}
.musica {
  color: #0866ff;
}
.pagina-1-imagen img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.pagina-1-botones {
  margin-top: 1rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 9rem;
  border-radius: 0.3rem;
  color: var(--blanco);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
.curriculum {
  margin-right: 0.5rem;
  border: 2px solid var(--color-secundario);
  color: var(--color-secundario);
  text-align: center;
}
.creando {
  border: 2px solid var(--color-secundario);
  background-color: var(--color-secundario);
}
@media screen and (min-width: 64em) {
  .pagina-1 {
    margin-top: 0;
    align-items: center;
    justify-content: center;
    background-color: blue;
  }
  .pagina-1-principal {
    max-width: 64rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .pagina-1-informacion {
    text-align: left;
    width: auto;
  }
  .titulo-principal {
    font-size: 1.9rem;
  }
  .pagina-1 p {
    width: 100%;
  }
  .pagina-1-imagen img {
    width: 17rem;
    height: 17rem;
  }
}
/***pagina 2***/
.pagina-2-contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  max-width: 64rem;
  gap: 1rem;
  width: 100%;
  height: 20%;
  padding: 0.5rem;
}
/*targeta1*/
.targeta1 {
  width: 90%;
  height: auto;
  padding: 0.5rem;
  margin: auto;
  font-family: var(--fuente-principal);
  color: var(--blanco);
  border: thin solid var(--color-terciario);
  border-radius: 0.3rem;
}
.targeta-titulo {
  color: var(--blanco);
  font-size: large;
}
.targeta1-subtitulo {
  font-style: italic;
  font-size: medium;
  color: var(--color-terciario);
}
.targeta1-fecha {
  font-style: italic;
  font-size: medium;
  color: var(--color-terciario);
}
/*targeta 2*/
.targeta2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuente-principal);
}
.targeta2-contenedor {
  padding: 0.5rem;
  width: 90%;
  max-height: 300px;
  height: auto;
  border: thin solid var(--color-terciario);
  color: var(--blanco);
  border-radius: 0.3rem;
  max-height: 300px;
  overflow-x: auto;
}
.targeta2-titulo {
  font-size: larger;
}
.targeta2-lenguajes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.targeta2-lenguajes div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.targeta2-lenguajes p {
  font-size: small;
  color: var(--color-terciario);
}
/*targeta3*/
.targeta3 {
  width: 90%;
  padding: 0.5rem;
  margin: auto;
  font-family: var(--fuente-principal);
  border: thin solid var(--color-terciario);
  border-radius: 0.3rem;
  max-height: 200px;
  overflow-x: auto;
}
.targeta3-titulo {
  font-size: larger;
}
.targeta3-lenguajes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.targeta3-lenguajes div,
.targeta4-edutubers div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  text-align: center;
  color: var(--blanco);
}
.targeta3-lenguajes p,
.targeta4-edutubers a {
  color: var(--blanco);
  font-size: small;
}
.targeta4 {
  padding: 0.5rem;
  width: 90%;
  max-height: 200px;
  overflow-x: auto;
  margin: auto;
  font-family: var(--fuente-principal);
  border: thin solid var(--color-terciario);
  border-radius: 0.3rem;
}
@media screen and (min-width: 37.5em) {
  .targeta1,
  .targeta2-contenedor,
  .targeta3 {
    width: 50%;
  }
}
@media screen and (min-width: 64em) {
  .pagina-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagina-2-contenedor {
    width: 100%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr, 300px);
    gap: 1rem;
  }
  .targeta1 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 0.2px;
    align-self: center;
    justify-self: start;
  }
  .targeta2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .targeta2-contenedor {
    align-self: end;
    max-height: 250px;
    height: auto;
    width: 100%;
    gap: 0;
    overflow: hidden;
  }
  .targeta2-titulo {
    margin-top: -0.1rem;
  }
  .targeta3 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    height: auto;
    max-height: 150px;
    overflow: hidden;
  }
  .targeta4 {
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow: hidden;
    margin: 0;
  }
}
@media screen and (min-width: 75em) {
}
/**** pagina 3 ******/
.pagina-3 {
  margin-top: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.pagina3-proyectos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 1rem;
  margin: auto;
  max-width: 64rem;
  width: 85%;
  margin-bottom: 3.5rem;
  font-family: var(--fuente-principal);
}
.proyectos-titulo {
  color: var(--blanco);
  font-family: var(--fuente-principal);
  font-size: x-large;
  margin-left: 1.3rem;
}
.proyectos-targeta {
  width: 100%;
  height: 21rem;
  background-color: var(--color-azul-claro);
  border-radius: 0.3rem;
}
.proyectos-targeta img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
  margin-bottom: -1rem;
}
.targeta-informacion {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  color: var(--blanco);
}
.targeta-informacion-titulo {
  font-size: large;
}
.targeta-p {
  font-size: medium;
  width: 100%;
  min-height: 60%;
  max-width: 20rem;
  color: var(--color-terciario);
  margin-top: -12px;
  overflow: hidden;
  max-height: 3rem;
}
.targeta-informacion a {
  display: inline-block;
  padding: 0.4rem;
  text-align: center;
  text-decoration: none;
  width: 7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-top: -6px;
}
.codigo {
  margin-right: 0.5rem;
  border: 2px solid var(--color-secundario);
  color: var(--color-secundario);
  text-align: center;
}
.web {
  border: 2px solid var(--color-secundario);
  background-color: var(--color-secundario);
  color: var(--blanco);
}
@media screen and (min-width: 37.5em) {
  .pagina-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .pagina3-proyectos {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
  }
  .proyectos-targeta {
    width: 100%;
    height: 20rem;
  }
}
@media screen and (min-width: 64em) {
  .pagina-3 {
    scroll-margin: 5rem;
  }
  .pagina3-proyectos {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0rem;
    gap: 1rem;
  }
  .proyectos-titulo {
    margin-left: -1rem;
  }
  .proyectos-targeta {
    width: 100%;
    height: 20rem;
  }
  .proyectos-targeta img {
    height: 55%;
  }
}
/*pagina 4*/
/*
  grid de 3*3 con un modal para cada targeta
*/
.pagina-4 {
  scroll-margin: -18px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.titulo-diseños {
  color: var(--blanco);
  padding-top: 1rem;
  font-family: var(--fuente-principal);
  font-size: x-large;
  margin-left: 1.3rem;
}
.pagina4-grid {
  max-width: 64rem;
  width: 85%;
  padding-top: 1rem;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: auto;
  gap: 1.5rem;
}
.grid-card {
  cursor: pointer;
  position: relative;
}
.grid-img {
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.card-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
  height: 1.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-top: 6px;
  margin-right: 6px;
  padding: 1rem;
  background-color: var(--blanco);
  box-shadow: 1px 2px 21px 5px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 2px 21px 5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 2px 21px 5px rgba(0, 0, 0, 0.21);
}
.card-info img {
  margin-top: 3px;
}
.card-info p {
  margin-left: -6px;
  color: #000;
  font-size: medium;
  font-family: var(--fuente-principal);
}
@media screen and (min-width: 37.5em) {
  .pagina-4 {
    align-items: center;
  }
  .pagina4-grid {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (min-width: 64em) {
  .pagina4-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 75em) {
  .pagina-4 {
    scroll-margin: 5rem;
  }
  .titulo-diseños {
    margin-left: -1rem;
  }

  .pagina4-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
/*clases a agregar con java Scripts*/
/*color del indice en el menu de navegacion*/
.activo {
  color: var(--color-secundario);
}
